In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
data = pd.read_csv('Transformed_Housing_Data2.csv')
data

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21604,360000.0,3,2.50,1530.0,1131.0,3.0,0,8,1530.0,0,...,0,0,0,1,0,0,0,0,0,0
21605,400000.0,4,2.50,2310.0,5813.0,2.0,0,8,2310.0,0,...,0,1,0,0,0,0,0,0,0,0
21606,402101.0,2,0.75,1020.0,1350.0,2.0,0,7,1020.0,0,...,0,0,0,1,0,0,0,0,0,0
21607,400000.0,3,2.50,1600.0,2388.0,2.0,0,8,1600.0,0,...,0,0,0,0,1,0,0,0,0,0
21608,325000.0,2,0.75,1020.0,1076.0,2.0,0,7,1020.0,0,...,0,0,0,1,0,0,0,0,0,0

In [20]:
Y = data.iloc[:,0]
X = data.iloc[:,1:31]
X.head()

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,63,...,0,0,0,0,0,0,0,0,0,0
1,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,67,...,0,0,1,0,0,0,0,0,0,0
2,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,85,...,0,0,1,0,0,0,0,0,0,0
3,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,53,...,0,0,0,1,0,0,0,0,0,0
4,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,31,...,0,0,0,0,1,0,0,0,0,0

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.3)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(15126, 30)
(6483, 30)
(15126,)
(6483,)

In [22]:
from sklearn import preprocessing
scale = preprocessing.StandardScaler()

X_train = scale.fit_transform(X_train)
print("X_train",X_train)
X_test = scale.fit_transform(X_test)
print("X_test",X_test)

X_train [[ 0.66795625  0.49812469  0.29715704 ... -0.11157867 -0.16858205
  -0.04815873]
 [-0.39200034  0.49812469 -0.36340782 ... -0.11157867 -0.16858205
  -0.04815873]
 [-1.45195693 -1.44029415 -1.39215637 ... -0.11157867 -0.16858205
  -0.04815873]
 ...
 [ 1.72791283  0.8211945   0.93606403 ... -0.11157867 -0.16858205
  -0.04815873]
 [-0.39200034 -1.44029415 -0.53667073 ... -0.11157867 -0.16858205
  -0.04815873]
 [-0.39200034 -1.44029415 -1.17557772 ... -0.11157867 -0.16858205
  -0.04815873]]
X_test [[-1.52977062 -1.46481393 -1.20270758 ... -0.11388042 -0.16947283
  -0.04815713]
 [-1.52977062 -1.46481393 -1.44548592 ... -0.11388042 -0.16947283
  -0.04815713]
 [ 0.69863134  0.83399718 -0.14331116 ... -0.11388042 -0.16947283
  -0.04815713]
 ...
 [ 0.69863134  1.49080036  2.74795823 ... -0.11388042 -0.16947283
  -0.04815713]
 [ 1.81283232  0.83399718 -0.03295737 ... -0.11388042 -0.16947283
  -0.04815713]
 [-1.52977062 -1.46481393 -1.43445054 ... -0.11388042 -0.16947283
  -0.04815713]]